/*!
 * Custom CSS
 * Custom by @marciotoledo.
 */
 
 .carousel-brands {
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.carousel-brands li {
	margin: 0;
	padding: 0;
}
.carousel-brands .brand {
    display: none;
	width: 100%;
	height: auto;
	opacity: 0.6;
	transition: opacity .5s ease;
}
.carousel-brands .brand:hover {
	opacity: 1;
}

.slick-initialized .brand { 
    display: block;
}

.banner-barra {
	margin-top: 5px;
margin-bottom: 30px;
}